
#log{
    width:  120px;
    height: 40px;
    color:white;
    background-color: black;
    border-color: darkred;
}
#log2{
   
        width:  120px;
        height: 40px;
        color:white;
        background-color: black;
        border-color: darkred;
    
}
#simple{

    color:white;
}

#simple1{
    color: white;
    font-size: 20px;
}

#navs{
    padding-top: 10px;
    background-color: #0e1b30;
}

.signIN{
    color: white;
    background-color:darkred;
    border-color: black;
}

#logo{
    height:70px;
    
}

