.vipP{

    background-color: rgb(2, 3, 53);
background-image: url(./Logo.png);
background-position: center;
background-repeat: no-repeat;
background-size: 570px, 320px;
background-attachment: fixed;


    /* background-image: url("http://www.toca-ch.com/data/walls/34/22320504.jpg"); 

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed; */
}
#headerV{
    padding-top: 20px;
    text-align: center;
    text-decoration: underline darkred;
    color: white;
    font-size: 40px;
    font-family: 'Audiowide', cursive;

}

#header2{
    text-decoration: underline darkred;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
    
}
#header4{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    
}

#script {
    color: white;
    padding-left: 60px;
    text-indent: 14px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}

#div{
    padding-top: 40px;
}

#DT{
    color: white;
    padding-left: 60px;
    padding-top: 20px;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;

}

#background{

    background-color: black;
}

#footer{
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;

}

#vippic{
    width: 85%;
}

#DTT1{   
        
    color: white;
    padding-left: 60px;
    padding-top: 20px;

    font-family: 'Oswald', sans-serif;

}