

#first1{
    padding-top: 35%; 
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}

#first2{
    padding-top: 10%;
    padding-bottom: 15%;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

#button{
    padding-bottom: 20%;
}

#second{
    text-align: center;
    padding-bottom: 25%;
}

#third{
    padding-bottom: 18%;
    padding-left: 240px;
}

#text{
    font-size: 18px;
}

#one{
    text-decoration: underline;
}